- name: Create mysql volume
  docker_volume:
    name: mysql_data

- name: Start MySQL container
  docker_container:
    name: mysql
    image: mysql:8
    state: started
    restart_policy: always
    volumes:
      - mysql_data:/var/lib/mysql
    env:
      MYSQL_ROOT_HOST: "%"
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
      MYSQL_DATABASE: "microblog"
      MYSQL_USER: "microblog"
      MYSQL_PASSWORD: "{{ mysql_microblog_password }}"
      MYSQL_DEFAULT_AUTHENTICATION_PLUGIN: "mysql_native_password"
    ports:
      - "0.0.0.0:3306:3306"
    command: >
      --bind-address=0.0.0.0
      --skip-name-resolve
