---
- name: Ensure grafana data directory exists
  file:
    path: "{{ grafana_data_dir }}"
    state: directory
    owner: 472
    group: 472
    mode: "0755"

- name: Render grafana.ini template to host
  template:
    src: grafana.ini.j2
    dest: /etc/grafana.ini
    owner: 472
    group: 472
    mode: "0644"
  register: grafana_config

- name: Start Grafana container
  docker_container:
    name: grafana
    image: grafana/grafana:latest
    restart_policy: unless-stopped
    user: "472"
    ports:
      - "3000:3000"
    volumes:
      - "{{ grafana_data_dir }}:/var/lib/grafana"
      - "/etc/grafana.ini:/etc/grafana/grafana.ini"
    env:
      GF_SECURITY_ADMIN_USER: "{{ grafana_admin_user }}"
      GF_SECURITY_ADMIN_PASSWORD: "{{ grafana_admin_password }}"
      GF_USERS_ALLOW_SIGN_UP: "false"
    state: started

- name: Wait for Grafana to start
  uri:
    url: "http://localhost:3000/api/health"
    method: GET
    status_code: 200
  register: grafana_ready
  retries: 10
  delay: 5
  until: grafana_ready.status == 200

- name: Add Prometheus datasource
  uri:
    url: "http://localhost:3000/api/datasources"
    method: POST
    user: "{{ grafana_admin_user }}"
    password: "{{ grafana_admin_password }}"
    force_basic_auth: yes
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      name: "Prometheus"
      type: "prometheus"
      access: "proxy"
      url: "http://{{ groups['monitoring'][0] }}:9090"
      isDefault: true
    status_code: [200, 409]

- name: Download Microblog dashboard JSON
  uri:
    url: "https://gist.githubusercontent.com/AndreasArne/433f902f9b986c301f2b2877454a581f/raw/4898bb2013b469cf74ace82d2d5aa39e073cb069/flaskdash.json"
    method: GET
    return_content: yes
  register: microblog_dashboard

- name: Import Microblog Dashboard
  uri:
    url: "http://localhost:3000/api/dashboards/import"
    method: POST
    user: "{{ grafana_admin_user }}"
    password: "{{ grafana_admin_password }}"
    force_basic_auth: yes
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      dashboard: "{{ microblog_dashboard.content | from_json | combine({'id': None})}}"
      overwrite: true
      inputs:
        - name: "DS_PROMETHEUS"
          type: "datasource"
          pluginId: "prometheus"
          value: "Prometheus"
    status_code: 200

- name: Download Node Exporter dashboard
  uri:
    url: "https://grafana.com/api/dashboards/1860/revisions/latest/download"
    method: GET
    return_content: yes
  register: nodeexporter_dashboard

- name: Import Node Exporter Dashboard (1860)
  uri:
    url: "http://localhost:3000/api/dashboards/import"
    method: POST
    user: "{{ grafana_admin_user }}"
    password: "{{ grafana_admin_password }}"
    force_basic_auth: yes
    headers:
      Content-Type: "application/json"
    body_format: json
    body:
      dashboard: "{{ nodeexporter_dashboard.json }}"
      overwrite: true
      inputs:
        - name: "DS_PROMETHEUS"
          type: "datasource"
          pluginId: "prometheus"
          value: "Prometheus"
    status_code: 200
