---
- name: Create Prometheus data directory
  file:
    path: "{{ prometheus_data_dir }}"
    state: directory
    owner: "65534"
    group: "65534"
    mode: "0755"

- name: Create Prometheus config directory
  file:
    path: "{{ prometheus_config_dir }}"
    state: directory
    mode: "0755"

- name: Deploy prometheus.yml from template
  template:
    src: prometheus.yml.j2
    dest: "{{ prometheus_config_dir }}/prometheus.yml"
    mode: "0644"

- name: Deploy rules.yml from template
  template:
    src: rules.yml.j2
    dest: "{{ prometheus_config_dir }}/rules.yml"
    mode: "0644"

- name: Pull Prometheus Docker image
  community.docker.docker_image:
    name: "{{ prometheus_image }}"
    source: pull

- name: Run Prometheus container
  community.docker.docker_container:
    name: "{{ prometheus_container_name }}"
    image: "{{ prometheus_image }}"
    state: started
    restart_policy: unless-stopped
    ports:
      - "{{ prometheus_port }}:9090"
    volumes:
      - "{{ prometheus_config_dir }}/prometheus.yml:/etc/prometheus/prometheus.yml"
      - "{{ prometheus_config_dir }}/rules.yml:/etc/prometheus/rules.yml"
      - "{{ prometheus_data_dir }}:/prometheus"
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--web.console.libraries=/etc/prometheus/console_libraries"
      - "--web.console.templates=/etc/prometheus/consoles"
      - "--storage.tsdb.retention.time=24h"
      - "--web.enable-lifecycle"
