name: Deploy microblog

on:
  workflow_call:
  push:
    branches: [ "master","feat/ansible" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Cache pip
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"
        cache: 'pip'
        cache-dependency-path: 'requirements/deploy.txt'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements/deploy.txt
        pip install -r ~/.ansible/collections/ansible_collections/azure/azcollection/requirements.txt

    - name: Setup SSH 
      run: |
        eval "$(ssh-agent -s)"
        mkdir -p ~/.ssh/
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        chmod 700 ~/.ssh/id_rsa 
        ssh-add ~/.ssh/id_rsa

    - name: Install Ansible Galaxy dependencies
      run: |
        cd ansible && ansible-galaxy install -r requirements.yml

    - name: Run playbook
      run: |
        cd ansible/ && ansible-playbook gather_instances.yml microblog.yml --private-key=/home/runner/.ssh/id_rsa
      env:
        ANSIBLE_HOST_KEY_CHECKING: "False"
