name: Deploy microblog

on:
  workflow_call:
  push:
    branches: ["master", "feat/ansible"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Python & Cache pip
        uses: actions/setup-python@v5
        with:
          python-version: "3.9"
          cache: 'pip'
          cache-dependency-path: |
            requirements/deploy.txt

      - name: Cache Ansible Galaxy
        uses: actions/cache@v3
        with:
          path: ~/.ansible
          key: ansible-${{ hashFiles('ansible/requirements.yml') }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements/deploy.txt
          cd ansible && ansible-galaxy install -r requirements.yml

      - name: Setup SSH 
        shell: bash
        run: |
          eval "$(ssh-agent -s)"
          mkdir -p ~/.ssh/
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Run playbook
        run: |
          source .venv/bin/activate
          cd ansible/
          ansible-playbook gather_instances.yml microblog.yml \
            --private-key=~/.ssh/id_rsa \
            -e "ansible_python_interpreter=/usr/bin/python3"
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
