name: Deploy microblog

on:
  workflow_call:
  push:
    branches: [ "master", "feat/ansible" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup Python & Cache pip
      uses: actions/setup-python@v5
      with:
        python-version: "3.9"
        cache: "pip"
        cache-dependency-path: requirements/deploy.txt

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -r requirements/deploy.txt

    - name: Install Ansible Galaxy collections
      run: |
        cd ansible
        ansible-galaxy collection install -r requirements.yml

    - name: Setup SSH 
      shell: bash
      run: |
        eval `ssh-agent -s`
        mkdir -p /home/runner/.ssh/
        touch /home/runner/.ssh/id_rsa
        echo -e "${{secrets.SSH_PRIVATE_KEY}}" > /home/runner/.ssh/id_rsa
        chmod 700 /home/runner/.ssh/id_rsa

    - name: Run Ansible playbooks
      run: |
        cd ansible
        ansible-playbook gather_instances.yml microblog.yml --private-key ~/.ssh/id_rsa \
          -e 'ansible_python_interpreter=/usr/bin/python3'
      env:
        ANSIBLE_HOST_KEY_CHECKING: "False"
